<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940360740312-pqk3u4q0sorjp6a4qp80004jaffm2rtl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940360740312-pqk3u4q0sorjp6a4qp80004jaffm2rtl</string>
	<key>API_KEY</key>
	<string>AIzaSyCUphXEVtGr-Jom0CB7rz1SLKecgo-c-78</string>
	<key>GCM_SENDER_ID</key>
	<string>940360740312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nearcoast.parallel</string>
	<key>PROJECT_ID</key>
	<string>parallels-50dd3</string>
	<key>STORAGE_BUCKET</key>
	<string>parallels-50dd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940360740312:ios:d47b29d48352dab81a16ad</string>
	<key>DATABASE_URL</key>
	<string>https://parallels-50dd3-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>